<div class="md:pt-4 mb-4 pb-4 mx-4">
    <div class="VueCarousel">
        <div class="VueCarousel-wrapper">
            <div class="VueCarousel-inner" style="transform: translate(0px, 0px); transition: transform 0.5s ease 0s; flex-basis: 99.5px; visibility: visible; height: auto;">
                <div tabindex="-1" role="tabpanel" class="VueCarousel-slide VueCarousel-slide-active">
                    <div class="h-16 w-16 md:h-20 md:w-20 flex-shrink-0 p-0.5 border border-primary rounded-full cursor-pointer"><img src="https://www.bemygirl.ch/images/bmg_griffe_rond.png" class="rounded-full h-full w-full object-cover"></div>
                </div>
                <div tabindex="-1" role="tabpanel" class="VueCarousel-slide VueCarousel-slide-active">
                    <div class="h-16 w-16 md:h-20 md:w-20 flex-shrink-0 p-0.5 border border-primary rounded-full cursor-pointer"><img src="/image/8a1cd7ac536fa99e356df975007612a6/L1008082.jpg" class="rounded-full h-full w-full object-cover"></div>
                </div>
                <div tabindex="-1" role="tabpanel" class="VueCarousel-slide VueCarousel-slide-active">
                    <div class="h-16 w-16 md:h-20 md:w-20 flex-shrink-0 p-0.5 border border-primary rounded-full cursor-pointer"><img src="/image/b6af8d8070ee24abf2ca012af24bff8d/L1009922.jpg" class="rounded-full h-full w-full object-cover"></div>
                </div>
                <div tabindex="-1" role="tabpanel" class="VueCarousel-slide VueCarousel-slide-active">
                    <div class="h-16 w-16 md:h-20 md:w-20 flex-shrink-0 p-0.5 border border-primary rounded-full cursor-pointer"><img src="/image/472fefbf53b6e554044ee523cbb17e47/L1008208.jpg" class="rounded-full h-full w-full object-cover"></div>
                </div>
                <div tabindex="-1" role="tabpanel" class="VueCarousel-slide VueCarousel-slide-active">
                    <div class="h-16 w-16 md:h-20 md:w-20 flex-shrink-0 p-0.5 border border-primary rounded-full cursor-pointer"><img src="/image/5ce88b47e8fcba9d0cea35316ee0d8fb/L1005761.jpg" class="rounded-full h-full w-full object-cover"></div>
                </div>
                <div tabindex="-1" role="tabpanel" class="VueCarousel-slide VueCarousel-slide-active">
                    <div class="h-16 w-16 md:h-20 md:w-20 flex-shrink-0 p-0.5 border border-primary rounded-full cursor-pointer"><img src="/image/edaabcf4f7a6bafaa87e14ae61a647a7/L1009888_1.jpg" class="rounded-full h-full w-full object-cover"></div>
                </div>
                <div tabindex="-1" role="tabpanel" class="VueCarousel-slide VueCarousel-slide-active">
                    <div class="h-16 w-16 md:h-20 md:w-20 flex-shrink-0 p-0.5 border border-primary rounded-full cursor-pointer"><img src="/image/5ab825bad7066e22952f69c5fa52e9cd/L1009025.jpg" class="rounded-full h-full w-full object-cover"></div>
                </div>
                <div tabindex="-1" role="tabpanel" class="VueCarousel-slide VueCarousel-slide-active">
                    <div class="h-16 w-16 md:h-20 md:w-20 flex-shrink-0 p-0.5 border border-primary rounded-full cursor-pointer"><img src="/image/b22634febb690c1d165faaaa60a2f107/L1000429.jpg" class="rounded-full h-full w-full object-cover"></div>
                </div>
            </div>
        </div>
        <!---->
        <!---->
    </div>
</div>